body{
  font-family: "Germania One";
  height:713px;
  background-image: linear-gradient( #40E0D0,  #000000 );
}

#breakOut
{
  margin-left: 590px;
}
#heading{
  margin-bottom:1%;
  text-decoration: bold;
   background: linear-gradient(to right, #2c3e50 0%, #fd746c 100%);
  text-decoration-line: underline;
}
.tips{
  text-align:center;
  text-transform: uppercase;
  margin-top:2%;
  margin-bottom:3%;
  
}
li{
  list-style-type: none;
}
#sound{
  width: 30px;
  height : 30px;
  cursor: pointer;
  position: absolute;
  top : 675px;
  left : 610px;
}
#gameover{
  position: absolute;
  width : 400px;
  height: 500px;
  background: rgba(0,0,0,0.5);
  display: none;
  left : 600px;
}
#youwon{
  width: 100px;
  position: absolute;
  top : 200px;
  left : 150px;
  display: none;
}
#youlose{
  width:400px;
  position: absolute;
  top: 100px;
  left : 0px;
  display: none;
}
#restart{
  position: absolute;
  top: 310px;
  left : 155px;
  cursor: pointer;
  font-size: 1.25em;
  color : #FFF;
}
